@tailwind base;
@layer base {
  h1 {
    @apply text-3xl font-bold text-neutral-600;
  }
  h2 {
    @apply text-2xl font-bold text-neutral-600;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply text-xs;
  }
}
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: lxgw wenkai, sans-serif;
}

.ant-tooltip,
.ant-list,
.ant-tabs-tab {
  font-family: var(--font-family) !important;
}
